:host {
  display: block;
  margin-top: 1rem;

  mat-spinner {
    margin: auto;
  }

  mat-paginator {
    margin: 1rem;
  }

  p.info {
    text-align: center;
  }

  .post-image {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
